/* You can add global styles to this file, and also import other style files */
#themecolors a{cursor: pointer;}
.pointer {cursor: pointer;}

/* Margen superior sobre el elemento de arriba */
.top-30 {margin-top: 30px;}
.top-50 {margin-top: 50px;}

/* Tamaños predefinidos para utilizar en imagenes */
.img-tam-40  {width: 40px;}
.img-tam-50  {width: 50px;}
.img-tam-60  {width: 60px;}
.img-tam-100 {width: 100px;}
.img-tam-120 {width: 120px;}

/* Margen-left */
.m-left-2 { padding-right: 10px; }

/* Colores background */
.bg-orange        {background: #ffa62b;}
.bg-green         {background: #51b64c;}
.bg-yellow        {background: #f5eb22;}
.bg-red           {background: #ff322b;}
.bg-grey          {background: #7a7265}
.bg-dark-grey     {background: #3c3f38}
.bg-light-blue    {background: #386fcb}
.bg-postit-yellow {background: #fbf304}
.bg-black         {background: #000}
.bg-black-light   {background: #252B33}

/* Colores textos */
.color-text-white {color:white;}